.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #fee716;
  border: 1px solid #101820;
  color: #101820;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #69a2b0;
}